---
# tasks file for jenkins-server
- name: Install Java 8
  become: true
  apt:
    name: openjdk-8-jre-headless
    state: present
    
- name: Add Jenkins package signing key
  become: true
  apt_key:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io.key
    state: present

- name: Add Jenkins Debian repository
  become: true
  apt_repository:
    repo: "deb https://pkg.jenkins.io/debian-stable binary/"
    state: present

- name: Update apt cache
  become: true
  apt:
    update_cache: yes

- name: Install Jenkins apt package
  become: true
  apt:
    name: jenkins
    state: present
